<div id="<%= dom_id entry_log %>">
  <p>
    <strong>Date:</strong>
    <%= entry_log.date.strftime("%a %b %-d, %Y %-l:%M%P") %>
  </p>

  <p>
    <strong>Meal Type:</strong>
    <%= entry_log.meal_type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= entry_log.name %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= entry_log.calories %>
  </p>

  <p>
    <strong>Protein:</strong>
    <%= entry_log.protein %>
  </p>

  <p>
    <strong>Added Sugars:</strong>
    <%= entry_log.added_sugars %>
  </p>

  <p>
    <strong>Total Sugars:</strong>
    <%= entry_log.total_sugars %>
  </p>

  <p>
    <strong>Carbs:</strong>
    <%= entry_log.carbs %>
  </p>

</div>
