<body>
  <%= form_with(model: entry_log, url: entry_logs_path) do |form| %>
    <% if entry_log.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(entry_log.errors.count, "error") %> prohibited this entry_log from being saved:</h2>

        <ul>
          <% entry_log.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :meal, "Select a Saved Meal", style: "display: block" %>
      <%= form.select :meal, options_from_collection_for_select(current_user.meals, :id, :name), prompt: "Select a Meal" %>
    </div>

    <div>
      <%= form.label :date, "Date and Time", style: "display: block" %>
      <%= form.datetime_local_field :date, value: DateTime.current.strftime("%Y-%m-%dT%H:%M") %>
    </div>

    <div>
      <%= form.label :meal_type, style: "display: block" %>
      <%= form.select :meal_type, ["Breakfast", "Lunch", "Dinner", "Snack"], prompt: "Select Meal Type" %>
    </div>

    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, placeholder: "Name of Food/Drink" %>
    </div>

    <div>
      <%= form.label :calories, style: "display: block" %>
      <%= form.number_field :calories %>
    </div>

    <div>
      <%= form.label :protein, style: "display: block" %>
      <%= form.number_field :protein %>
    </div>

    <div>
      <%= form.label :added_sugars, style: "display: block" %>
      <%= form.number_field :added_sugars %>
    </div>

    <div>
      <%= form.label :total_sugars, style: "display: block" %>
      <%= form.number_field :total_sugars %>
    </div>

    <div>
      <%= form.label :carbs, style: "display: block" %>
      <%= form.number_field :carbs %>
    </div>

    <%= form.hidden_field :user_id, value: current_user.id %>
  <br>
    <div>
      <%= form.submit "Save Entry Log", class: "btn btn-primary" %>
    </div>

    <div>
      <%= link_to "Back to entry logs", entry_logs_path %>
    </div>
  <% end %>
</body>