<p style="color: green"><%= notice %></p>
<body class="entry-logs-index">
  <div class="logo-actions">
    <%= image_tag 'food_tracker_logo.png', alt: 'FoodTracker Logo', class: 'logo' %>
    <section class="actions">
      <p><%= link_to "New Entry Log", new_entry_log_path, class: 'btn btn-primary' %></p>
      <p><%= link_to "Back to Dashboard", root_path, class: 'btn btn-primary' %></p>
    </section>
  </div>
  <div class="tables">
    <section class="running-daily-totls">
      <div class="totals-table">
        <table>
          <thead>
            <tr>
              <th>Todays Date</th>
              <th>Total Meals Today</th>
              <th>Total Calories</th>
              <th>Total Protein</th>
              <th>Total Added Sugars</th>
              <th>Total Daily Sugars</th>
              <th>Total Carbs</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @entry_logs.formatted_date %></td>
              <td><%= @entry_logs.total_meals_today %></td>
              <td><%= @entry_logs.total_calories %></td>
              <td><%= @entry_logs.total_protein %></td>
              <td><%= @entry_logs.total_added_sugars %></td>
              <td><%= @entry_logs.total_daily_sugars %></td>
              <td><%= @entry_logs.total_carbs %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <br>
    <section class="table">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Meal Type</th>
            <th>Name</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Added Sugars</th>
            <th>Total Sugars</th>
            <th>Carbs</th>
          </tr>
        </thead>
        <tbody>
          <% @entry_logs.each do |entry_log| %>
            <tr onclick="window.location='<%= entry_log_path(entry_log) %>'" style="cursor: pointer;">
              <td><%= entry_log.formatted_date %></td>
              <td><%= entry_log.meal_type %></td>
              <td><%= entry_log.name %></td>
              <td><%= entry_log.calories %></td>
              <td><%= entry_log.protein %></td>
              <td><%= entry_log.added_sugars %></td>
              <td><%= entry_log.total_sugars %></td>
              <td><%= entry_log.carbs %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  </div>
</body>