<body class="welcome-main">
  <%= image_tag 'food_tracker_logo.png', alt: 'FoodTracker Logo', class: 'welcome-logo' %>
  <% if user_signed_in? %>
    <h1>FoodTracker</h1>
    <h2>Welcome, <%= current_user.email %></h2>
    <div class="actions">
      <%= link_to 'Add Food/Drink', new_entry_log_path, class: 'btn btn-primary' %>
      <%= link_to 'View Entries', entry_logs_path, class: 'btn btn-primary' %>
      <div class="sign-out-wrapper">
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
      </div>
    </div>
  <% else %>
    <h1>FoodTracker</h1>
    <h2>FoodTracker is a simple application to track your nutritional intake. </h2>
    <p>Please Sign in or Sign Up Below.</p>
    <div class="actions">
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary' %>
      <%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</body>
