<div id="<%= dom_id meal %>">
  <p>
    <strong>Name:</strong>
    <%= meal.name %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= meal.calories %>
  </p>

  <p>
    <strong>Protein:</strong>
    <%= meal.protein %>
  </p>

  <p>
    <strong>Added Sugars:</strong>
    <%= meal.added_sugars %>
  </p>

  <p>
    <strong>Total Sugars:</strong>
    <%= meal.total_sugars %>
  </p>

  <p>
    <strong>Carbs:</strong>
    <%= meal.carbs %>
  </p>

</div>